html {
    background: var(--bg);
    font-family: Roboto Mono,monospace;
    font-size: 100%;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: normal;
    color: #888;
    padding: 0;
    margin: 0;
}

:root {
    --bg: #0e1212;
    --tags: #515152;
}

.tags {
    var(--tags);
}
